@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.personal-details,
.short-profile,
.professional-experience,
.education {
  border: 1px solid;
  border-radius: 8px;
  padding: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  max-width: 100%;
  min-height: 36px;
  height: 60px;
}

.app {
  display: flex;
  flex-direction: row;
}