@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.personal-details,
.short-profile,
.professional-experience,
.education {
  border: 1px solid;
  border-radius: 8px;
  padding: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  max-width: 100%;
  min-height: 36px;
  height: 60px;
}

.app {
  display: flex;
  flex-direction: row;
}

/* Resume */
.resume {
  width: 21cm;
  height: 29.7cm;
  padding: 0.53cm 1.75cm 1cm 2.25cm;
  margin-left: 12px;
  margin-top: 12px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  color: white;
  padding: 6px;
  margin: 24px 0px;
  background-color: #183462;
}

.short {
  display: list-item;
  margin-left: 24px;
}

.education-info,
.job-info,
.job-core-tasks,
.job-impact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.certificate,
.duration,
.job-title {
  font-weight: bold;
}

.duration {
  width: 160px;
}

.core-tasks-title,
.impact-title {
  color: lightgrey;
  font-style: italic;
  width: 160px;
}

.certificate,
.core-tasks-content,
.impact-content,
.job-info-details {
  width: 400px;
}
